{:paths ["src/main/clojure" "src/main/resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/tools.deps.edn {:mvn/version "0.9.22"}}
 :tools/usage {:ns-default fmjrey.project}
 :aliases
 {:project/info {:id fmjrey/project
                 :name "project"
                 :license {:id "EPL-2.0"
                           :name "Eclipse Public License 2.0"
                           :url "https://www.eclipse.org/legal/epl-2.0"}}

  ;; clj -M:test
  :test {:extra-paths ["src/test/clojure"]
         :extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.12"}
                      io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner" "-d" "src/test/clojure"]
         :exec-fn cognitect.test-runner.api/test}

  ;; clj -M:lint
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2026.01.19"}}
         :main-opts ["-m" "clj-kondo.main"
                     "--lint" "src/main/clojure"
                     "--lint" "src/test/clojure"]}

  ;; CLI use with -X
  :project {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.12"}}
            :exec-args {:fmjrey.project/verbose true}
            :ns-default fmjrey.project.build}

  ;; build and task use with -T
  :build {:paths ["src/main/clojure" "src/main/resources"]
          :deps {io.github.clojure/tools.build {:mvn/version "0.10.12"}
                 org.clojure/tools.deps.edn {:mvn/version "0.9.22"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}}}
